
.Emiratos {
   @include Emiratos
}


.EA-rojo {
background-color: #ff0000;
width: 180px;
height: 400px;
position: absolute; 
}

.EA-verde {
background-color: #23cf47;

}

.EA-blanco {
background-color: #ffffff;

}

.EA-negro {
background-color: #000000;
}








